*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

body{
background-color:#284461;
padding:30px;
position: absolute;
width: 100%;

}
.main-body{

    background-color: #455361;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 90Vh;
    border-radius:10px;
}
.dice-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap:35px;
    padding:20px;
}
.dice{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width:10vw;
    border-radius:10px;
    background-color: #fff;
    font-size: 5vw;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .15);
    cursor: pointer;
}
.role-dice-button{
margin-top: 1em;
width: 15%;
height: 10%;
border: none;
border-radius: 5px;
background-color: #d5d5d5;
cursor: pointer;
font-size: xx-large;
}
.role-dice-button:focus{
    outline: none;
}
.role-dice-button:active{
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}